# Byte-compiled / optimized / DLL files
__pycache__/

# pdm
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml
.pdm-python
.pdm-build/